.cardProducto {
    background-color: #C08081; 
    border-radius: 8px; 
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 250px;
    margin: auto;
  }
  
  .cardProducto:hover {
    transform: scale(1.05); 
  }
  
  
  .cardProducto img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
 
  .cardProducto h3 {
    font-size: 1.1rem; 
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  
  .cardProducto p {
    font-size: 0.9rem; 
    color: #ffffff; 
    margin-bottom: 0.5rem;
  }
  
 
  .cardProducto button {
    background-color: #ffffff; 
    color: #C08081; 
    padding: 0.5rem 1rem;
    border: 2px solid #C08081; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
  }
  
  .cardProducto button:hover {
    background-color: #C08081;
    color: #ffffff; 
    transform: scale(1.05); 
  }